body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
     
}
h1{
    font-size: 2rem;
    text-align: center;
    padding-top: 100px;
    
}
p{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom:0.5rem;


}
.buttons{
    display: flex;
    justify-content: center;
}
button{
    background-color:violet;
    font-size: 3rem;
    margin: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
button:hover{
    opacity: 0.7;

}
#rock{
    background-color: red;
}
#paper{
    background-color: blue;
}
#scissors{
    background-color: lightgreen;

}
#user-score{
    color: blue
}
#computer-score{
    color: red
}